.register {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    margin-top: 100px;
}

.register__formWrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 350px;
    height: 490px;
    box-sizing: border-box;
    padding: 10px;
    border: 2px solid grey;
    border-radius: 12px;
}
